@value makerWhite from '../../common/colors.module.css';
@value makerGreen from '../../common/colors.module.css';
@value makerBlack from '../../common/colors.module.css';
@value makerLightGrey from '../../common/colors.module.css';

.wrapper {
  display: flex;
  width: 100%;
  background-color: makerGreen;
  text-align: center;
  padding: 0.5em;
}
.title {
  width: 100%;
  justify-self: center;
  align-self: center;
}
.signed{
  margin-left: 4em;
}
.logo {
  width: 3em;
}
.text {
  color: makerWhite;
}
.logout{
  width: 4em;
  height: 2em;
  color: makerWhite;
  background-color: makerBlack;
  border: none;
  border-radius: 0.5em;
}
